.m-btn{
    background-color: #019160;
    padding: 0 24px;
    border-radius: 4px;
    text-align: center;
    height: 40px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    min-width: 100px;
}
.m-btn:hover{
    background-color: #2FBEBE;
}
.m-btn:active{
    background-color: #01B075;
}
.m-btn-icon{
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px 16px;
    padding-left: 40px;
    padding-right: 16px;
}
.m-btn-icon-add{
    background-image: url("../../assets/icon/add.png");
}